/* label {
    color: red;
} */

#CreateBugForm {
    width: 90vw;
    margin: auto;
}

#CreateBugForm label{
    margin: auto 10px;
}

#CreateBugForm input#bugTitle {
    width: 90vw;
}

#CreateBugForm textarea#bugDescription {
    width: 40vw;
    height: 4rem;
}

#CreateBugForm input#bugDescription {
    width: 40vw;
}