/* For mobile phones: */
header {
    font-size: 1.2rem;
    color: var(--main-light-text-color);
    background-color: var(--main-primary-bg-color);
    width: 100vw;
    padding: var(--main-standard-text-padding) 0 var(--main-standard-text-padding) 0;

}

header .menuHamberger {
    height: 30px;
    padding: 0 15px 0 15px;
    vertical-align: middle;
}

#headerContainer {
    display: flex;
    justify-content: space-between;
}

#userName {
    margin-left: 10px;
}

#headerMenu {
    display: flex;
    justify-content: flex-end;
}

.headerItem {
    margin: auto 10px;
    color: var(--main-light-text-color);
}

.headerItem a {
    text-decoration: none;
}


.headerItem:hover {
    /* background-color: var(--main-accent-bg-color-hover); */
    color: var(--main-highlight-text-color);
    cursor: pointer;
}
