#login {
    padding: 100px;
}

#loginContainer {
    width: 40vw;
    border: 10px solid var(--main-header-color);
    margin: 0 auto;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginContainer input {
    max-width: 20vw;
    font-size: 1.4rem;
    padding: 5px;
    /* margin: 5px 0; */
}

#loginContainer div {
    width: 20vw;
    margin-top: 10px;
}

#loginContainer label {
    font-weight: 700;
}

#loginEmail,
#loginPassword {
    border: 0;
    box-shadow: 1px 1px 3px #000000;
}

#loginEmail,
#loginPassword,
#loginButton,
#registerButton {
    width: 100vw;
    border-radius: 4px;
}

#loginButton, 
#registerButton {
    cursor: pointer;
}

#loginButton {
    color: var(--main-light-text-color);
    background-color: var(--main-accent-bg-color);
    border: none;
    margin-top: 25px;
}

#loginButton:hover {
    color: var(--main-highlight-text-color);
    /* font-weight: 700; */
}

#registerButton {
    font-size: .9rem !important;
    border: none;
    margin-top: 15px;
}

#registerButton:hover {
    font-weight: 700;
    /* color: var(--main-light-text-color); */
    /* background-color: var(--main-dark-text-color); */
}