#register {
    padding: 100px;
}

#registerContainer {
    height: 50vh;
    width: 50vw;
    border: 10px solid var(--main-header-color);
    margin: 0 auto;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}